p {
    padding: 0px;
    margin: 0px;
}

img {
    float: right;
}

div {
    height: 100px;
    width: 100px;

}

.div1 {
    background-color: aqua;
    margin-bottom: 5%;
    clear: both;
    width: 100%;
}

.div2 {
    margin-bottom: 5%;
    width: 40%;
    background-color: greenyellow;
    float: left;
}

.div3 {
    margin-bottom: 5%;
    width: 40%;
    background-color: lightcoral;
    float: right;
}

.div4 {
    background-color: yellow;
    float: left;
    width: 40%;
}

.div5 {
    background-color: burlywood;
    margin-bottom: 5%;
    float: right;
    width: 40%;

}